*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.parallax-background{
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px) brightness(50%);
    transform: translateZ(0);
    transition: transform 0.1s ease;
}
.loading-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 2;
    transition: opacity 1s ease-in-out;
}
.loading-screen.hidden{
    opacity: 0;
    pointer-events: none;
} 
.container .footer{
    text-align: center;
    padding: 10px 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container .footer a{
    color: white;
    margin: 0;
    text-decoration: none;
}
.container .footer p{
    margin: 0;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.container .content h1{
    color: #fff;
}
.container .content p{
    color: white;
}
@media (max-width: 600px){
    *{
        white-space: nowrap;
    }
    .container .content h1{
      font-size: 25px;
    }
}