*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
body{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.loading-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 2;
    transition: opacity 1.5s ease-in-out;
}
.loading-screen.hidden{
    opacity: 0;
    pointer-events: none;
} 
.loading-screen img{
    animation: bounceUpDown 3s ease-in-out infinite;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.patin.dev/maintenance.patin.dev_background.webp');
    background-size: cover;
    background-position: center center;
    filter: blur(2px) brightness(70%);
    z-index: -1;
    transition: 0.1s ease;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
@media (max-width: 600px){
    *{
        white-space: nowrap;
    }
    .container .content h1{
      font-size: 25px;
    }
}
@keyframes bounceUpDown{
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-20px);
    }
}